<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164568921290-bgmk2hcuav8jqdbs355bf2i0i65f6sgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164568921290-bgmk2hcuav8jqdbs355bf2i0i65f6sgi</string>
	<key>API_KEY</key>
	<string>AIzaSyCyHJORZuBVLuqyouECMc1wA-yrEY60mUU</string>
	<key>GCM_SENDER_ID</key>
	<string>164568921290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itpath.ToDo</string>
	<key>PROJECT_ID</key>
	<string>todo-15050</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-15050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164568921290:ios:71891d77d8cc25f95d7033</string>
</dict>
</plist>